.wrapper {
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
    width:100%;
    height:100%; 
    /* added 2 lines above before fixing input */
}
.wrapper h2 {
    font-size:2rem;
}
.wrapper ol {
    padding:0;
    display:flex;
    flex-wrap:wrap;
    list-style-type:none;
    justify-content: center;
}
.wrapper li {
    margin:.5rem;
}

.form-control-wrapper {
    width:100%;

}
.error {
    font-size:2rem;
    color:red;
}
.form-control-wrapper label {
    display:none;
    
}
.control-wrapper {
    display:flex;
    justify-content: space-between;
    height:4rem;
    font-size:1.4rem;
    border-radius:1rem;
    border:.1rem solid black;
    padding:1rem;

}
.form-control-wrapper input {
    width:65%;
    height:100%;
    margin:0;
    padding:0;
    border:none;
    outline:none;
}
.form-control-wrapper button {
    background:#234234;
    color:white;
    border-radius:1rem;
    padding:.8rem;
    width:30%;
    max-width:70px;
    border:none;
    transition: background-color 300ms;
}
.form-control-wrapper button:hover {
    background-color:#f8bb37;
    cursor:pointer;
}
.form-control-wrapper button:disabled {
    background:gainsboro;
    color:black;
    cursor:not-allowed;
}

@media (min-width:700px) {
    .wrapper ol {
        padding:0;
        
    }
    .form-control-wrapper input {
        width:70%;
    }
    .form-control-wrapper button {
        width:20%;
    }

}